.swiper {
  width: 100%;
  height: 100%;
  background-color: #4c516d;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
  color: white;
}
@media screen and (max-width: 768px) {
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    font-size: 30px !important;
  }
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  color: white;
}
@media screen and (max-width: 768px) {
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    font-size: 30px !important;
  }
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  display: none;
  background: none !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: left top;
}
.swiper-pagination-bullets {
  display: block;
}
.slider3-h2 {
  font-size: 64px;
  letter-spacing: 0.3em;
  text-align: center;
  display: block;
  margin-bottom: 15rem;
}

.swiper-slider3-container {
  position: relative;
  max-width: 1000px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.slider3 {
  width: 850px;
  position: relative;
}

.slider3-card {
  width: 100% !important;
  border-radius: 20px;
  box-shadow: none !important;
  box-shadow: none;
  padding: 25px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  height: 50vh;
}

.slider3-card .number {
  font-size: 38px;
  text-align: center;
  margin-bottom: 15px;
  color: #4c516d;
}

.slider3-card .text {
  font-size: 16px;
  line-height: 1.5;
  color: #4c516d;
  text-align: justify;
  overflow: auto;
  padding: 1rem;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #494d64 !important;
}
@media (max-width: 900px) {
  .swiper-slider3-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .slider3 {
    width: 100%;
  }
  .slider3-card {
    width: 60%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.swiper-backface-hidden .swiper-slide {
  border-radius: 24px;
}

@import url(//db.onlinewebfonts.com/c/ebea2aa546d58c52c20de57835663484?family=Bradley+Hand+ITC+Std);
@font-face {
  font-family: "Bradley Hand ITC Std";
  src: url("//db.onlinewebfonts.com/t/ebea2aa546d58c52c20de57835663484.eot");
  src: url("//db.onlinewebfonts.com/t/ebea2aa546d58c52c20de57835663484.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/ebea2aa546d58c52c20de57835663484.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/ebea2aa546d58c52c20de57835663484.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/ebea2aa546d58c52c20de57835663484.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/ebea2aa546d58c52c20de57835663484.svg#Bradley Hand ITC Std")
      format("svg");
}
@import url(//db.onlinewebfonts.com/c/ac63b6058f703ae46123ce6c383c6287?family=Kristen+ITC);
@font-face {font-family: "Kristen ITC"; src: url("//db.onlinewebfonts.com/t/ac63b6058f703ae46123ce6c383c6287.eot"); src: url("//db.onlinewebfonts.com/t/ac63b6058f703ae46123ce6c383c6287.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ac63b6058f703ae46123ce6c383c6287.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ac63b6058f703ae46123ce6c383c6287.woff") format("woff"), url("//db.onlinewebfonts.com/t/ac63b6058f703ae46123ce6c383c6287.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ac63b6058f703ae46123ce6c383c6287.svg#Kristen ITC") format("svg"); }
.loading {
  --height: 10px;
  --loader-color: blue;
  --animation-duration: 0.5s;
}

@keyframes bounce {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-75%);
  }
}
.loading {
  --height: 30px;
  --loader-color: white;
  --animation-duration: 0.5s;
  display: flex;

  gap: calc(var(--height) / 4);
  height: calc(var(--height) * 1.75);
  width: max-content;
}
.loading:before,
.loading:after {
  content: "";
}
.loading > div,
.loading:before,
.loading:after {
  height: var(--height);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--loader-color);
  animation: bounce var(--animation-duration) ease-in-out infinite alternate;
}
.loading:after {
  animation-delay: calc(var(--animation-duration) / 2);
}
.loading > div {
  animation-delay: calc(var(--animation-duration) / 4);
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid black;
  border-bottom-color: transparent;
  position: relative;
  animation: spinner 1s linear infinite paused;
  -webkit-animation: spinner 1s linear infinite paused;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
  }
}
.spinner {
  animation-play-state: running;
}
